

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:black">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src='assets/nav_logo.png' alt='nav_logo' height='30px' id='nav_logo' style='padding-bottom:0px'>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" >
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top" ></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">홈</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">일정</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">지원하기</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section" >
            <div class='intro_div' >
                
                <p><span style='color:white'><b>프로그래밍으로</b></span>
                    <br>
                    
                <span style='color:white'><b>상상을 실현하라</b></span>
                    <br>
                    
                <span style='color:rgb(243,152,0);'><b>멋쟁이 사자처럼</b></span>
                </p> 
                    
            </div>
        
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="about_textbox">
                    <h1 style="font-size: 280%"><b>소개</b></h1>
                    <br>
                    <br>
                    <p style='font-size:20px; font-family:sans-serif;'>
                        <b>멋쟁이 사자처럼 X 한양대학교</b>
                    </p>
                    <br>
                    <p style='font-size:20px; font-family: sans-serif;'>
                        <b>만들고 싶은</b> 
                        <br>
                        <b>IT 서비스를</b>
                    </p>
                    <p style='font-size:20px; font-family: sans-serif; color:rgb(243,152,0);'> 
                        <b>대학생들이</b>
                        <br>
                        <b>"직접" 만듭니다</b>
                    </p>
                    
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr style="margin: 20px auto">
                </div>
                
                <div class="col-sm-4">
                    <div class="about_small">
                        
                        <h2 class='small_name'><B>STUDY</B></h2>
                        
                        <img src='/assets/section2_circle1.png' alt='circle1' >
                        
                        <p class='section2_textbox'>
                           <b> HTML/CSS부터 jQuery까지의 Front End, </b>
                            
                        </p>
                        <p class='section2_textbox'>
                            <b>Ruby on Rails와 같은 Web Framework를 공부합니다.</b>

                        </p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="about_small">
                        <h2 class='small_name'><B>MT & NETWORK</B></h2>
                        
                        <img src='/assets/section2_circle2.png' alt='circle2' >
                        
                        <p class='section2_textbox'>
                           <b> 재미있는 MT는 물론, 나와 비슷한 생각을 가진 </b>
                            
                        </p>
                        <p class='section2_textbox'>
                            <b>대학교 친구들을 만날 수 있습니다.</b>

                        </p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="about_small">
                        <h2 class='small_name'><b>HACKATHON</b></h2>
                        
                        <img src='/assets/section2_circle3.png' alt='circle3' >
                        
                        <p class='section2_textbox'>
                           <b> 평소에 “이런 IT 서비스를 꼭 만들어 보고 싶었다.” </b>
                            
                        </p>
                        <p class='section2_textbox'>
                            <b>라고 생각했던 것들을 본인이 직접 구현합니다</b>

                        </p>
                        
                    </div>
                </div>
            </div>
            <div class='row' id='more_info'>
                
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="services-section">
          <img src="/assets/section3_schedule.png" style="height: auto; max-height: 650px; max-width: 100%;">
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        
        <div class="container" >
            <div class='row' >
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <!--<a href="http://www.likelion.net" class="apply_btn">지원하기</a><br>-->
                    <a href="/assets/hyu_apply.pdf" target="_blank" name="한양대 모집요강" class="apply_btn">모집요강 확인</a><br>
                    

                    <hr id='apply_hr'>
                        
                         
                    <br>
                    <p style="color:white">
                        <b>지원 기간<br>3월 2일 ~ 11일 23:59</b>
                    </p>
                            
                    
                            
                            
                </div>
            </div>
        </div>
    </section>
    
    <section id="contact2" class="contact2-section">
        
        <div class="container" >
            <div class='row' >
                <div align='center'>
                    <table>
                        <tr>
                            <td style="padding-right: 10px; padding-left: 10px; padding-bottom: 15px;">
                                <a href="mailto:likelion.hanyang@likelion.net">
                                  <img src='/assets/mailing.png' width='50px' height='40px' alt='mail_btn'>
                                </a>
                            </td>
                            
                            <td align='left' valign='center' style="padding-right: 10px;">
                                <a href="mailto:likelion.hanyang@likelion.net"><b>문의사항은 <!--hyu@likelion.net 으로-->페이스북으로 보내주세요</b></a>
                                </p>
                            </td>
                        </tr>
                    </table>
                        
                    
                    
                        
                          
                    
                </div>
            </div>
            
            <div class='row'>
                
                <div align='center' class='link'>
                    
                
                    <table>
                        
                        <tr>
                            
                            <td>
                                <a href='http://www.likelion.net' target="_blank">
                                    <img src='/assets/section4_logo2.png' height='50px'>
                                </a>
                            </td>
                            
                            <td align='left'>
                                
                                <a href='http://www.likelion.net' target="_blank">
                                    <b>멋쟁이 사자처럼<br>
                                    공식 홈페이지</b>
                                 </a>
                            </td>
                           
                            
                            <td height='50px' width='25px'>
                                                              
                            </td>
                            
                            <td height='50px' width='25px'>
                                                              
                            </td>

                            <td>
                                <a href='http://www.facebook.com/likelion.net' target="_blank">
                                    <img src='/assets/section4_fblogo1.png' height='50px'>
                                </a>
                            </td>
                            
                            <td align='left'>
                                
                                <a href='http://www.facebook.com/likelion.net' target="_blank">
                                    <b>멋쟁이 사자처럼<br>
                                    공식 페이스북 페이지</b>
                                 </a>
                            </td>
                           
                            
                            <td height='50px' width='25px'>
                                                              
                            </td>
                            
                            <td height='50px' width='25px'>
                                                              
                            </td>
                            
                            <td>
                                <a href='http://www.facebook.com/likelion.hyu' target="_blank">
                                    <img src='/assets/section4_fblogo2.png' height='50px'>
                                </a>
                            </td>
                                
                            <td align='left'>
                                
                                <a href='http://www.facebook.com/likelion.hyu' target="_blank">
                                    <b>멋쟁이 사자처럼<br>
                                    한양대 페이스북 페이지</b>
                                </a>
                            </td>
                        </tr>
                        
                        
                    </table>
                </div>

<!--for_mobile_link-->
                <div align='center' class='link2'>
                    <table>
                        <tr height ='50px'></tr>
                        
                        <tr>
                            <td>
                                <a href='http://www.likelion.net'>
                                    <img src='/assets/section4_logo2.png' height='50px'>
                                </a>
                            </td>
                          
                            <td align='center' >
                                <a href='http://www.likelion.net'>
                                  <b>멋쟁이 사자처럼<br>
                                  공식 홈페이지</b>
                                </a>
                            </td>
                        </tr>
                        
                        <tr height='50px'></tr>
                        
                        <tr>
                          <td>
                            <a href="http://www.facebook.com/likelion.net">
                              <img src="/assets/section4_fblogo1.png" height='50px'>
                            </a>
                          </td>
                          <td align='center'>
                            <a href="http://www.facebook.com/likelion.net">
                            <b>멋쟁이 사자처럼<br>
                            공식 페이스북 페이지</b>
                        </tr>
                        
                        <tr height='50px'></tr>
                        
                        <tr>
                            <td>
                                <a href='http://www.facebook.com/likelion.hyu'>
                                  <img src='/assets/section4_fblogo2.png' height='50px'>
                                </a>
                            </td>
                             
                            <td align='center'>
                                <a href='http://www.facebook.com/likelion.hyu'>
                                <b>멋쟁이 사자처럼<br>
                                한양대 페이스북</b>
                                </a>
                            </td>
                        </tr>
                        
                        
                    </table>
                </div>
                
                
            </div>
            
            
        </div>
        
        <div class ='copyright'>
            <p style='color:rgb(131,131,131)' > Copyright © 멋쟁이 사자처럼 2016<br><br></p>
        </div>
      
    </section>

    <!-- jQuery -->
    <!--<script src="/assets/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="/assets/bootstrap.min.js"></script>-->

    <!-- Scrolling Nav JavaScript -->
    <!--<script src="/assets/jquery.easing.min.js"></script>-->
    <!--<script src="/assets/scrolling-nav.js"></script>-->

</body>

</html>
